:root {
    --color-title: #F0E7E1;
    --color-text: #D6CEC9;
    --color-hovertitle: #DB439E;
    --bg-body: #100F20;
    --bg-darker: #1E2C42;

    --color-positive: #46B7B2;

    --success-text: #117742;
    --success-bg: #F1FCF3;
    --error-text: #841616;
    --error-bg: #FDF7F7;

    --max-width: 1140px;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #A40162;
    color: #F0E7E1;
}

::selection {
    background: #A40162;
    color: #F0E7E1;
}

.theme-2 {
    --color-title: #ebfffb;
    --color-text: #C7E9E1;
    --color-hovertitle: #278D8B;
    --bg-body: #001528;
    --bg-darker: #1E2C42;
}

.theme-2 ::-moz-selection {
    background: #024850;
    color: #fff;
}

.theme-2 ::selection {
    background: #024850;
    color: #fff;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--color-text);
    background: var(--bg-body);
    line-height: 1.7;
}

h1,
h2 {
    line-height: 1.4;
    color: var(--color-title);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h2 .small {
    display: block;
    font-size: 1.25rem;
}


ol {
    margin: 3em auto;
    padding: 0 0 0 0;
    counter-reset: ol;
}

ol li {
    position: relative;
    counter-increment: ol;
    list-style: none;
    font-size: 1.25rem;
    margin: 1em 0;
    padding-left: 2.5em;
}

ol li::before {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75em;
    height: 1.75em;
    content: counter(ol);
    background: var(--color-positive);
    font-weight: bold;
    color: var(--bg-darker);
    border-radius: 80px;
}

p {
    font-size: 1.25rem;
    color: var(--color-text);
}

a {
    color: inherit;
}

.hovertitle {
    margin-bottom: -1rem;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight: 900;
    color: var(--color-hovertitle);
}

section {
    position: relative;
    overflow: hidden;
}

.alternate,
.light {
    background: #F0E7E1;
    --color-hovertitle: #A40162;
    --color-title: var(--bg-body);
    --color-text: var(--bg-darker);
}

.theme-2 .alternate,
.theme-2 .light {
    background: #ebfffb;
    --color-hovertitle: #177970;
    --color-title: var(--bg-body);
    --color-text: var(--bg-darker);
}

.light {
    background: #f2e2e2;
}

.cover {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-45%) translateY(-50%);
    width: 640px;
    height: auto;
}

.cover + .cover {
    right: 0;
    left: auto;
    transform: translateX(45%) translateY(-50%);
}

.sr-only {
    position: absolute;
    inset: 0 0 0 -9999em;
    clip-path: polygon(0 0);
}

.langs {
    width: var(--max-width);
    max-width: 100%;
    text-align: right;
    margin: -16px auto 0;
    padding-right: 16px;
    font-size: 16px;
}

.langs a[aria-current] {
    text-decoration: none;
    font-weight: bold;
}

.langs a:not([aria-current]) {
    opacity: 0.8;
}

[href*="twitter.com"],
[href*="linkedin.com"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: .5em .5em .5em 0;
    background: rgba(255,255,255,.2);
    border-radius: 40px;
    transition: all .3s;
}

[href*="twitter.com"]:hover,
[href*="linkedin.com"]:hover,
[href*="twitter.com"]:focus-visible,
[href*="linkedin.com"]:focus-visible {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 0 4px rgba(255,255,255,.4);
}

/* Grid system */
.container {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 80px;
    padding: 80px 24px;
}

.container.centered {
    align-items: center;
}

.col {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
}

.col-small {
    display: block;
    max-width: 640px;
}

/* Specific blocks */
.banner {
    position: relative;
    padding: 24px 0 60px;
    overflow: hidden;
}

.banner > * {
    position: relative;
    z-index: 10;
}

.banner p {
    margin-block: 2em;
}

.banner-background {
    position: absolute;
    inset: 0;
    z-index: 5;
}

.banner-background-svg-1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-65%) translateY(-65%);
}

.theme-2 .banner-background-svg-1 {
    transform: scale(0.65) translateX(-75%) translateY(-65%);
}

.banner-background-svg-2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(45%) translateY(-50%);
}

.theme-2 .banner-background-svg-2 {
    transform: scale(0.65) translateX(85%) translateY(-70%);
}

.form {
    flex-basis: 320px;
    flex-shrink: 0;
}

.form .legal {
    font-size: .875rem;
    line-height: 1.4;
    opacity: 0.8;
}

.form label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
}

.form label span {
    opacity: 0.8;
    font-weight: normal;
    font-size: small;
}

.form input {
    padding: 8px;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--color-title);
    transition: all .3s;
    border-radius: 4px;
}

.form input:focus,
.form button:focus {
    outline: 2px solid var(--color-hovertitle);
    outline-offset: 2px;
}

.form button {
    display: flex;
    gap: 8px;
}

.form button.loading:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dual-ring 1.2s linear infinite;
}
@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form .sendfox-message {
    padding: 16px;
    border-radius: 4px;
    font-size: 1em;
}

.form .sendfox-message.success {
    color: var(--success-text);
    background: var(--success-bg);
    border: 2px solid var(--success-text);
}

.form .sendfox-message.error {
    color: var(--error-text);
    background: var(--error-bg);
    border: 2px solid var(--error-text);
}

.button {
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.7;
    background: var(--color-hovertitle);
    color: white;
    border: 0;
    border-radius: 80px;
    cursor: pointer;
    transition: all .3s;
}

.button:hover,
.button:focus-visible {
    background: #680440;
}

/* Book Styles */
.book-container {
    --book-height: 284px;
    --book-width: 200px;
    --book-depth: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--book-width) * 2);
    height: calc(var(--book-height) * 1.5);
    transform-style: preserve-3d;
    perspective: calc(var(--book-width) * 2);

    transition: all 1s ease;
    user-select: none;
}

.book {
    position: relative;
    width: var(--book-width);
    height: var(--book-height);
    transform: rotateY(-30deg);
    perspective: 660px;
    transition: all 1s ease;
}

.book-container:hover .book {
    perspective: 0;
    transform: rotateY(0) scale(1.2);
}

.book-container:hover .book img {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .1);
}

/* Pages */
.book::before {
    content: '';
    position: absolute;
    background: repeating-linear-gradient(to right, white, #888 1px, white 2px);
    top: 3px;
    bottom: 3px;
    right: calc(var(--book-depth) / 2 * -1);
    width: var(--book-depth);
    transform: rotateY(70deg) translateX(calc(var(--book-depth) / 2));
    z-index: -1;
}

/* Back Page */
.book::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    transform: translateZ(calc(var(--book-depth) * -1)) translateX(calc(var(--book-depth) / 2 - 3px));
    z-index: -2;
    transition: transform 1s ease;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: -4px 4px 8px 8px rgba(0, 0, 0, .2);
    transition: box-shadow 1s;
}

.footer {
    text-align: center;
    padding: 24px;
}

.footer a {
    display: inline-block;
}

.footer p {
    font-size: 1rem;
}

.footer img {
    margin-top: .5em;
    height: 48px;
    width: auto;
}

p.copyright {
    font-weight: bold;
    font-size: 0.875rem;
}

svg:focus {
    outline: none;
}

@media (max-width: 1400px) {
    .cover {
        left: -200px;
    }
    .cover + .cover {
        right: -200px;
    }

    .theme-2 .banner-background-svg-1 {
        transform: scale(0.45) translateX(-130%) translateY(-90%);
    }
    .theme-2 .banner-background-svg-2 {
        transform: scale(0.45) translateX(120%) translateY(-100%);
    }
}

@media (max-width: 1200px) {
    .cover {
        display: block;
        position: static;
        transform: none;
        margin: -2em auto 0;
        width: 100%;
        max-width: 400px;

    }
    .cover + .cover {
        display: none;
    }
} 

@media (max-width: 800px) {

    .langs.langs {
        margin:: 16px auto 16px;
    }

    p {
        font-size: 1.125rem;
    }

    .book-container {
        width: 100%;
    }

    .banner {
        padding: 20px 0;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner .hovertitle {
        font-size: 0.875rem;
        font-weight: 700;
    }

    .banner-background-svg-2 {
        transform: translateX(65%) translateY(-25%);
    }

    .theme-2 .banner-background-svg-1 {
        transform: scale(0.45) translateX(-130%) translateY(-110%);
    }
    .theme-2 .banner-background-svg-2 {
        transform: scale(0.45) translateX(135%) translateY(-65%);
    }

    .banner .container {
        gap: 0;
        padding-block: 24px;
    }

    .author > a {
        margin-top: 1em;
    }

    .container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .container > * {
        flex-basis: 100%;
    }

    .form input {
        width: 100%;
    }
}